<div class="page-wraper">
    <!-- Header -->
    <app-header-light3></app-header-light3>
  
    <!-- Content -->
    <div class="page-content bg-gray">
      <!-- Banner -->
      <app-banner1 [data]="banner"></app-banner1>
  
      <div class="content-inner-2">
        <div class="container">
          <!-- Search and Filter Row -->
          <div class="row mb-4 align-items-center">
            <div class="col-md-6">
              <button type="button" mat-button class="btn btn-primary" [matMenuTriggerFor]="dateFilterMenu">
                <fa-icon [icon]="faFilter" class="mr-2"></fa-icon>Filtrer
              </button>
              <mat-menu #dateFilterMenu="matMenu" class="card-header-menu" xPosition="before">
                <button mat-menu-item (click)="filterByDate('today')">Aujourd'hui</button>
                <button mat-menu-item (click)="filterByDate('thisWeek')">Cette semaine</button>
                <button mat-menu-item (click)="filterByDate('thisMonth')">Ce mois-ci</button>
                <button mat-menu-item (click)="filterByDate('thisYear')">Cette année</button>
              </mat-menu>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-end">
              <div class="notification-container">
                <div class="notification-bell" (click)="toggleNotifications($event)">
                  <fa-icon [icon]="unreadNotificationsCount > 0 ? faBell : farBell"></fa-icon>
                  <span *ngIf="unreadNotificationsCount > 0" class="notification-badge">
                    {{ unreadNotificationsCount }}
                  </span>
                </div>
                <div *ngIf="showNotifications" class="notification-dropdown">
                  <div class="notification-header">
                    <h4>Notifications</h4>
                    <button class="mark-all-read" (click)="markAllAsRead($event)">
                      Tout marquer comme lu
                    </button>
                  </div>
                  <ul class="notification-list">
                    <li *ngFor="let notification of notifications"
                        class="notification-item"
                        [class.unread]="!notification.is_read"
                        (click)="openNotificationModal(notification)">
                      <div class="notification-content">
                        <p class="notification-message">{{ notification.message }}</p>
                        <div class="notification-meta">
                          <span class="notification-time">{{ notification.created_at | date:'shortTime' }}</span>
                        </div>
                      </div>
                    </li>
                    <li *ngIf="notifications.length === 0" class="empty-notifications">
                      <fa-icon [icon]="faBellSlash"></fa-icon>
                      <p>Aucune notification</p>
                    </li>
                  </ul>
                </div>
              </div>
              <input type="text" class="form-control ml-3" placeholder="Rechercher des offres..."
                    [(ngModel)]="searchQuery" (input)="applySearchFilter()">
            </div>
          </div>
  
          <!-- Job Grid -->
          <div class="row">
            <div [ngClass]="{'col-xl-9 col-lg-8': layout.sidebar === true, 'col-xl-12 col-lg-12': layout.sidebar === false}">
              <div id="masonry" class="dlab-blog-grid-3 row">
                <div *ngFor="let item of displayedBlogs" class="post card-container {{ layout.gridClass }} col-md-6 col-sm-12 mb-4">
                  <div class="blog-post blog-grid blog-rounded blog-effect1">
                    <div class="dlab-post-media dlab-img-effect">
                      <a [routerLink]="['/postuler', item.id]">
                        <img [src]="item.image" alt="{{ item.title }}" class="img-fluid">
                      </a>
                    </div>
                    <div class="dlab-info p-a20 border-1">
                      <div class="dlab-post-meta">
                        <ul>
                          <li class="post-date">Publié le {{ item.postedDate | date:'dd/MM/yyyy' }}</li>
                        </ul>
                      </div>
                      <div class="dlab-post-title">
                        <h4 class="post-title">
                          <a [routerLink]="['/postuler', item.id]">{{ item.title }}</a>
                        </h4>
                      </div>
                      <div class="dlab-post-text">
                        <p>{{ (item.description || 'Aucune description disponible') | slice:0:100 }}{{ item.description && item.description.length > 100 ? '...' : '' }}</p>
                      </div>
                      <div class="dlab-post-status">
                        <span class="badge"
                              [ngClass]="{'badge-success': item.status === 'OPEN', 'badge-danger': item.status === 'CLOSED'}">
                          {{ item.status === 'OPEN' ? 'Recrutement actif' : 'Poste pourvu' }}
                        </span>
                      </div>
                      <div class="dlab-post-readmore">
                        <a [routerLink]="['/postuler', item.id]" title="Postuler" rel="bookmark" class="site-button">
                          Postuler <fa-icon [icon]="faArrowRight"></fa-icon>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Pagination -->
              <div class="pagination-bx clearfix m-b30 text-center">
                <ul class="pagination">
                  <li class="previous" [class.disabled]="currentPage === 1">
                    <a (click)="changePage(currentPage - 1)">
                      <fa-icon [icon]="faArrowLeft"></fa-icon> Précédent
                    </a>
                  </li>
                  <li *ngFor="let page of pages" [class.active]="page === currentPage">
                    <a (click)="changePage(page)">{{ page }}</a>
                  </li>
                  <li class="next" [class.disabled]="currentPage === totalPages">
                    <a (click)="changePage(currentPage + 1)">
                      Suivant <fa-icon [icon]="faArrowRight"></fa-icon>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Footer -->
    <app-footer13></app-footer13>
  
    <!-- Scroll Top Button -->
    <button class="scroltop" (click)="scroll_top()">
      <fa-icon [icon]="faArrowUp"></fa-icon>
    </button>
  </div>