<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Assurances List
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            Assurance Management
        </li>
        <li class="breadcrumb-item position-relative">
            Assurances List
        </li>
    </ol>
</div>

<!-- All Assurances -->
<mat-card
    class="daxa-card all-assurances-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                All Assurances
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <a mat-button class="add-new-btn" routerLink="/project-management-page/create-project">
                + Add New Assurance
            </a>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="row mb-3">
            <div class="col-md-6">
                <!-- Search input for filtering -->
                <input type="text" class="form-control" placeholder="Rechercher 🔎 ..." [(ngModel)]="searchQuery" (input)="applySearchFilter()">
            </div>
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource">

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>
                        ID
                        <input type="text" (input)="applyColumnFilter($event, 'id')" placeholder="Filter ID">
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.id}}
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>
                        Name
                        <input type="text" (input)="applyColumnFilter($event, 'name')" placeholder="Filter Name">
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.name}}
                    </td>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>
                        Description
                        <input type="text" (input)="applyColumnFilter($event, 'description')" placeholder="Filter Description">
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.description}}
                    </td>
                </ng-container>

                <!-- Adresse Column -->
                <ng-container matColumnDef="adresse">
                    <th mat-header-cell *matHeaderCellDef>
                        Adresse
                        <input type="text" (input)="applyColumnFilter($event, 'adresse')" placeholder="Filter Adresse">
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.adresse}}
                    </td>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>
                        Email
                        <input type="text" (input)="applyColumnFilter($event, 'email')" placeholder="Filter Email">
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.email}}
                    </td>
                </ng-container>

                <!-- Telephone Column -->
                <ng-container matColumnDef="telephone">
                    <th mat-header-cell *matHeaderCellDef>
                        Telephone
                        <input type="text" (input)="applyColumnFilter($event, 'telephone')" placeholder="Filter Telephone">
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.telephone}}
                    </td>
                </ng-container>

                <!-- Fax Column -->
                <ng-container matColumnDef="fax">
                    <th mat-header-cell *matHeaderCellDef>
                        Fax
                        <input type="text" (input)="applyColumnFilter($event, 'fax')" placeholder="Filter Fax">
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.fax}}
                    </td>
                </ng-container>

                <!-- Logo Column -->
                <ng-container matColumnDef="logo">
                    <th mat-header-cell *matHeaderCellDef>
                        Logo
                        <input type="text" (input)="applyColumnFilter($event, 'logo')" placeholder="Filter Logo">
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.logo}}
                    </td>
                </ng-container>

                <!-- Site Web Column -->
                <ng-container matColumnDef="siteWeb">
                    <th mat-header-cell *matHeaderCellDef>
                        Site Web
                        <input type="text" (input)="applyColumnFilter($event, 'siteWeb')" placeholder="Filter Site Web">
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.siteWeb}}
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="action-info">
                            <button type="button" mat-button matTooltip="Update Assurance" matTooltipPosition="above" (click)="updateAssurance(element.id)">
                                <i class="material-symbols-outlined">
                                    edit
                                </i>
                            </button>
                            <button type="button" mat-button matTooltip="Delete" matTooltipPosition="above" (click)="deleteAssurance(element.id)">
                                <i class="material-symbols-outlined">
                                    delete
                                </i>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>