<div class="page-wraper">
  <!-- header -->
  <app-header-light3></app-header-light3>

  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner1 [data]="banner"></app-banner1>

    <!-- contact area -->
    <div class="section-full content-inner">
      <!-- Product -->
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table check-tbl">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Product name</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Close</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="alert" *ngFor="let item of cartItems; trackBy: trackByMaterialId">
                    <td class="product-item-img">
                      <img [src]="item.material.image?.url" alt="{{ item.material.name }}" />
                    </td>
                    <td class="product-item-name">{{ item.material.name}}</td>
                    <td class="product-item-price">{{item.material.price | currency}}</td>
                    <td class="product-item-quantity">
                      <div class="quantity ">
                        <button (click)="decrementQuantity(item)" [disabled]="item.quantity === 1">-</button>
                        <input type="text" [value]="item.quantity" readonly />
                        <button (click)="incrementQuantity(item)">+</button>
                      </div>
                    </td>
                    <td class="product-item-totle">{{ item.material.price * item.quantity | currency }}</td>
                    <td class="product-item-close">
                      <a href="javascript:void(0);" (click)="removeItem(item)" class="ti-close"></a>
                    </td>
                  </tr>



                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-lg-6 m-b15" >
            <form class="shop-form">
              <h5>Payment Details</h5>
              <div class="form-group">
                <label for="card-element">Credit or Debit Card</label>
                <div id="card-element" class="form-control"></div>
                <div id="card-errors" role="alert" class="text-danger"></div>
              </div>
              End Stripe Card Element -->
              <!-- <div class="form-group">
                <button class="site-button" type="button" (click)="handlePayment()">Pay Now</button>
              </div>
            </form> -->
            </div>
            </div>
          </div>
          <div class="col-lg-6 m-b15">
                <h5>Cart Subtotal</h5>
                <table class="table-bordered check-tbl">
                  <tbody>
                    <!-- <tr>
                      <td>Order Subtotal</td>
                      <td>$125.96</td>
                    </tr> -->
                    <tr>
                      <td>Shipping</td>
                      <td>Free Shipping</td>
                    </tr>
                    <!-- <tr>
                      <td>Coupon</td>
                      <td>$28.00</td>
                    </tr> -->
                    <tr>
                      <td>Total</td>




      <!-- Product END -->

     <div id="card-element"></div>
  <button (click)="handlePayment()">Pay</button>
    <!-- Shop Service info -->
    <app-icon-box3></app-icon-box3>
    <!-- Shop Service info End -->
  <!-- Footer -->
  <app-footer19></app-footer19>

 <button class="scroltop fa fa-chevron-up" (click)="scroll_top()"></button>
