<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">Negociation Details</h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            Negociation
        </li>
        <li class="breadcrumb-item position-relative">
            Negociation Details
        </li>
    </ol>
</div>

<!-- Negociation Details -->
<mat-card class="daxa-card negociation-details-card mb-25 border-radius bg-gradient border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 text-white mb-0">Negociation Details</h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p><strong>ID:</strong> {{negociation?.id}}</p>
        <p><strong>Client ID:</strong> {{negociation?.clientId}}</p>
        <p><strong>Admin ID:</strong> {{negociation?.adminId}}</p>
        <p><strong>Architecte ID:</strong> {{negociation?.architecteId}}</p>
        <p><strong>Ingénieur Civil ID:</strong> {{negociation?.ingenieurCivilId}}</p>
        <p><strong>Budget Estime:</strong> {{negociation?.budgetEstime}}</p>
        <p><strong>Exigences:</strong> {{negociation?.exigences}}</p>
        <p><strong>Status:</strong> {{negociation?.status}}</p>
        <p><strong>Date Creation:</strong> {{negociation?.dateCreation}}</p>
        
    </mat-card-content>
</mat-card>

<!-- Action Buttons -->
<div class="btn-box d-md-flex align-items-center justify-content-between">
    
    
</div>
