<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">Create Contrat</h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i> Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">Contrat Management</li>
        <li class="breadcrumb-item position-relative">Contrats</li>
        <li class="breadcrumb-item position-relative">Create Contrat</li>
    </ol>
</div>

<!-- Create Contrat -->
<mat-card class="daxa-card create-contrat-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">Create New Contrat</h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="contratForm" (ngSubmit)="createContrat()">
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Contrat Condition</mat-label>
                        <input matInput formControlName="contratcondition" placeholder="Enter contrat condition">
                        <mat-error *ngIf="contratForm.get('contratcondition')?.hasError('required')">
                            Contrat Condition is required
                        </mat-error>
                        <mat-error *ngIf="contratForm.get('contratcondition')?.hasError('minlength')">
                            Contrat Condition must be at least 3 characters long
                        </mat-error>
                        <mat-error *ngIf="contratForm.get('contratcondition')?.hasError('maxlength')">
                            Contrat Condition cannot be more than 100 characters long
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Date Signature</mat-label>
                        <input matInput type="date" formControlName="date_signature">
                        <mat-error *ngIf="contratForm.get('date_signature')?.hasError('required')">
                            Date Signature is required
                        </mat-error>
                        <mat-error *ngIf="contratForm.get('date_signature')?.hasError('invalidDate')">
                            Date must be today or later
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Date Expiration</mat-label>
                        <input matInput type="date" formControlName="date_expiration">
                        <mat-error *ngIf="contratForm.get('date_expiration')?.hasError('required')">
                            Date Expiration is required
                        </mat-error>
                        <mat-error *ngIf="contratForm.get('date_expiration')?.hasError('invalidExpirationDate')">
                            Expiration date must be after the signature date
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Assurance</mat-label>
                        <mat-select formControlName="assurance">
                            <mat-option *ngFor="let assurance of assurances" [value]="assurance.id">
                                {{ assurance.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="contratForm.get('assurance')?.hasError('required')">
                            Assurance is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Projet</mat-label>
                        <mat-select formControlName="projet">
                            <mat-option *ngFor="let projet of projets" [value]="projet.id">
                                {{ projet.title }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="contratForm.get('projet')?.hasError('required')">
                            Projet is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <button mat-button type="submit">Create Contrat</button>
        </form>
    </mat-card-content>
</mat-card>